<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Explorar</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item-divider sticky>
      <ion-searchbar animated name="search" [(ngModel)]="search"></ion-searchbar>
      <ion-button fill="clear" color="medium">
        <ion-icon name="filter"></ion-icon>
      </ion-button>
    </ion-item-divider>

    <ion-item *ngFor="let boulder of boulders | bouldersFilter: search" [routerLink]="['/boulders/', boulder._id]"
      [routerDirection]="'forward'">
      <ion-avatar slot="start">
        <ion-badge color="{{boulder.grade.includes('+')?boulder.grade.replace('+', 'm'):boulder.grade}}">
          {{boulder.grade}}</ion-badge>
      </ion-avatar>
      <ion-label>
        <h3>@{{boulder.creator.username}}</h3>
        <h2>{{boulder.name}}</h2>
        <p>231 repeticiones</p>
        <span>
          <ion-icon name="star" color="primary"></ion-icon>
          <ion-icon name="star" color="primary"></ion-icon>
          <ion-icon name="star" color="primary"></ion-icon>
          <ion-icon name="star" color="primary"></ion-icon>
          <ion-icon name="star" color="primary"></ion-icon>
        </span>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>