<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="logo">
        <ion-icon src="../../assets/logo/logo.svg" size="large"></ion-icon>
        <h1>BLOC ARC</h1>
        <!-- <ion-img src="../../assets/logo/logo.png"></ion-img> -->
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/boulders/add']" [routerDirection]="'fordward'">
        <ion-icon name="add" color="medium"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="container">
  <ion-list>
    <ion-item-divider sticky>
      <ion-searchbar animated name="search" [(ngModel)]="search"></ion-searchbar>
      <ion-button fill="clear" color="medium">
        <ion-icon name="filter"></ion-icon>
      </ion-button>
    </ion-item-divider>

    <div *ngIf="boulders">
      <div *ngFor="let boulder of boulders | bouldersFilter: search">
        <ion-item [routerLink]="['/boulders/', boulder._id]" [routerDirection]="'forward'">
          <ion-avatar slot="start">
            <ion-badge color="{{boulder.grade.includes('+')?boulder.grade.replace('+', 'm'):boulder.grade}}">
              {{boulder.grade}}</ion-badge>
          </ion-avatar>
          <ion-label>
            <h3>{{boulder.creator.username}}</h3>
            <h2>{{boulder.name}}</h2>
            <p>{{boulder.reps}} {{boulder.reps === 1 ? 'repetición' : 'repeticiones'}}</p>
            <span>
              <app-static-star-rating [valoration]="boulder.valoration"></app-static-star-rating>
            </span>
          </ion-label>
        </ion-item>
      </div>
    </div>

    <div *ngIf="!boulders">
      <ion-list>
        <ion-item *ngFor="let number of numbers">
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            </h3>
            <h2>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </h2>
            <p>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 45%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-list>
</ion-content>