<ion-header>
  <ion-toolbar class="background-color">
    <ion-buttons slot="start">
      <ion-button *ngIf="step===1" (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="step===0" [routerLink]="['/']" [routerDirection]="'back'">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="step === 0">
  <div class="container">
    <h1>Iniciar sesión</h1>
    <ion-button expand="block" (click)="nextStep()">Continuar con correo</ion-button>
    <p>O continuar con:</p>
    <ion-button (click)="googleLogin()" size="" color="light" expand="block">
      <ion-icon name="logo-google"></ion-icon> Continuar con Google
    </ion-button>
    <ion-button (click)="facebookLogin()" color="light" expand="block">
      <ion-icon name="logo-facebook"></ion-icon>Continuar con Facebook
    </ion-button>
  </div>
</ion-content>

<ion-content scroll-y="false" *ngIf="step === 1">
  <div class="container">
    <h1>Iniciar sesión</h1>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <ion-list>
        <ion-item>
          <ion-label color="medium" position="floating">Correo electrónico</ion-label>
          <ion-input type="email" name="email" [(ngModel)]="userLogin.email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="medium" position="floating">Contraseña</ion-label>
          <ion-input type="password" name="password" [(ngModel)]="userLogin.password"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button (click)="login()" expand="block">Iniciar sesión</ion-button>
    </form>
  </div>
</ion-content>

<ion-footer>
  <span item-right>¿No tienes una cuenta? </span>
  <span class="link" [routerLink]="['/auth/register']" [routerDirection]="'root'"> Regístrate</span>
</ion-footer>