ion-content {
  background: var(--ion-background-color);
}
.cabecera {
  background: var(--ion-tab-bar-background);
  padding-top: 2rem;
  ion-avatar {
    margin: 0 auto;
    width: 6rem;
    height: 6rem;

    ion-img {
      object-fit: cover;
    }
  }

  h1 {
    text-align: center;
    font-size: 1.3rem;
  }

  ion-skeleton-text {
    margin: 0 auto;
  }

  h1 > {
    ion-skeleton-text {
      height: 1rem;
    }
  }

  h4 {
    & > ion-skeleton-text {
      width: 1rem;
      height: 1rem;
    }
  }
}

.stats {
  display: flex;
  justify-content: space-evenly;
  text-align: center;

  h4 {
    font-weight: bold;
    font-size: 0.8rem;
  }

  p {
    font-size: 0.7rem;
    color: var(--ion-color-medium);
  }
}

hr {
  background-color: var(--ion-color-light);
  margin: 0;
}

ion-segment {
  border-bottom: 1px solid var(--ion-color-light);
  background: var(--ion-tab-bar-background);
}

ion-item {
  --background: var(--ion-background-color);

  ion-item-divider {
    padding: 0;
    margin: 0;
  }

  h3,
  ion-icon {
    font-size: 0.8rem;
  }

  p,
  h3,
  ion-badge {
    font-family: PoppinsRegular !important;
  }

  ion-avatar {
    ion-badge {
      width: 100%;
    }
  }
}

.checkbox-grades {
  background: var(--ion-background-color);
  padding-top: 1rem;

  h4 {
    margin: 0 0 1rem 1rem;
    font-size: 1rem;
  }

  & > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0.5rem 1rem;
    }

    span {
      font-size: 0.8rem;
      color: var(--ion-color-medium);
      text-align: center;
      margin: 0 0 0 0.2rem;
    }
  }
}

.icon {
  background: var(--ion-background-color);
  text-align: center;
  ion-icon {
    font-size: 2rem;
  }
}

.canvas-container {
  background: var(--ion-background-color);
  position: relative;
  padding: 2rem 2rem 2rem 2rem;
  p {
    font-size: 0.8rem;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--ion-color-medium);
  }
}

canvas {
  width: 40% !important;
  height: 40% !important;
  margin: 0 auto;
}

ion-thumbnail {
  height: 1.5rem;
}

ion-segment-button {
  & > ion-skeleton-text {
    width: 1.4rem;
    height: 1.4rem;
  }
}

ion-popover {
  ion-item {
    --background: var(--ion-item-color);
  }
}
