<ion-header>
  <ion-toolbar *ngIf="user && !user.me">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
    <ion-buttons *ngIf="user && user.me" slot="end">
      <ion-button id="trigger-button">
        <ion-icon name="settings-sharp" color="medium"></ion-icon>
      </ion-button>
      <ion-popover trigger="trigger-button" [dismissOnSelect]="true">
        <ng-template>
          <ion-list>
            <ion-item button>Editar perfil</ion-item>
            <ion-item button (click)="openGoalModal()">Establecer objetivo</ion-item>
            <ion-item></ion-item>
            <ion-item button (click)="logout()">Cerrar sesión</ion-item>
          </ion-list>
        </ng-template>
      </ion-popover>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar *ngIf="user && user.me">
    <ion-buttons slot="start">
      <ion-button class="logo">
        <ion-icon src="../../assets/logo/logo.svg" size="large"></ion-icon>
        <h1>BLOC ARC</h1>
        <!-- <ion-img src="../../assets/logo/logo.png"></ion-img> -->
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="add" color="medium"></ion-icon>
      </ion-button>
      <ion-button id="trigger-button">
        <ion-icon name="settings-sharp" color="medium"></ion-icon>
      </ion-button>
      <ion-popover trigger="trigger-button" [dismissOnSelect]="true">
        <ng-template>
          <ion-list>
            <ion-item button>Editar perfil</ion-item>
            <ion-item button (click)="openGoalModal()">Establecer objetivo</ion-item>
            <ion-item></ion-item>
            <ion-item button (click)="logout()">Cerrar sesión</ion-item>
          </ion-list>
        </ng-template>
      </ion-popover>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user">
  <div class="cabecera">
    <ion-avatar>
      <ion-img [src]="userAvatar"></ion-img>
    </ion-avatar>

    <h1>{{user.username}}</h1>

    <div class="stats">
      <div>
        <h4>{{totalBouldersCreated || '0'}}</h4>
        <p>Bloques <br> creados</p>
      </div>
      <div>
        <h4>{{totalBouldersCompleted || '0'}}</h4>
        <p>Bloques <br> completados</p>
      </div>
    </div>
  </div>

  <hr>

  <ion-segment [value]="selectedSegment" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="created">
      <ion-icon [name]="isActive('created')?'grid':'grid-outline'"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="completed">
      <ion-icon [name]="isActive('completed')?'checkbox':'checkbox-outline'"></ion-icon>
    </ion-segment-button>
    <ion-segment-button *ngIf="user.me" value="saved">
      <ion-icon [name]="isActive('saved')?'bookmark':'bookmark-outline'"></ion-icon>
    </ion-segment-button>
    <ion-segment-button *ngIf="user.me" value="fav">
      <ion-icon [name]="isActive('fav')?'heart':'heart-outline'"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <!-- Bloques creados -->

  <div *ngIf="isActive('created') && !loadedBoulderCreated" class="completed-list">
    <ion-list>
      <ion-item *ngFor="let number of numbers">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h2>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h2>
          <p>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 45%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="isActive('created') && loadedBoulderCreated && !bouldersCreated" class="not-loaded">
    <div>
      <ion-icon src="../../assets/icon/hold.svg"></ion-icon>
      <h3>{{user.me ? 'No has creado ningún bloque' : 'No ha creado ningún bloque'}}</h3>
      <p>{{user.me ? 'Todos los bloques que crees se mostrarán aquí' : 'Todos los bloques que cree se mostrarán
        aquí'}}</p>
    </div>
  </div>


  <div *ngIf="isActive('created') && bouldersCreated" class="completed-list">
    <ion-item *ngFor="let boulder of bouldersCreated" [routerDirection]="'forward'"
      [routerLink]="['/boulders/', boulder._id]">
      <ion-avatar slot="start">
        <ion-badge color="{{boulder.grade.includes('+')?boulder.grade.replace('+', 'm'):boulder.grade}}">
          {{boulder.grade}}</ion-badge>
      </ion-avatar>
      <ion-label>
        <h2>{{boulder.name}}</h2>
        <p>{{boulder.reps}} {{boulder.reps === 1 ? 'repetición' : 'repeticiones'}}</p>
        <span>
          <app-static-star-rating [valoration]="boulder.valoration"></app-static-star-rating>
        </span>
      </ion-label>
    </ion-item>
  </div>

  <!-- Bloques completados -->
  <div *ngIf="isActive('completed') && !bouldersCompleted" class="not-loaded">
    <div>
      <ion-icon name="checkbox"></ion-icon>
      <h3>{{user.me ? 'No has completado ningún bloque' : 'No ha completado ningún bloque'}}</h3>
      <p>{{user.me ? 'Todos los bloques que completes se mostrarán aquí' : 'Todos los bloques que complete se
        mostrarán aquí'}}</p>
    </div>
  </div>

  <div class="canvas-container" [hidden]="!isActive('completed') || !bouldersCompleted">
    <p>Total: {{totalBouldersCompleted || '0'}}</p>
    <canvas #canvas id="completedChart"></canvas>
  </div>


  <div *ngIf="isActive('completed') && bouldersCompleted">
    <hr>

    <div class="checkbox-grades">
      <h4>Lista de bloques completados</h4>
      <div>
        <div *ngFor="let grade of filterGrades">
          <ion-checkbox [color]="grade.color" [(ngModel)]="grade.isChecked" (ionChange)="checkboxClick(grade)">
          </ion-checkbox>
          <span>{{grade.val}}</span>
        </div>
      </div>
    </div>

    <div class="icon">
      <ion-icon color="medium" name="chevron-down-outline"></ion-icon>
    </div>

    <ion-item *ngFor="let boulder of bouldersCompleted | gradesFilter: gradesSelected"
      [routerLink]="['/boulders/', boulder._id]" [routerDirection]="'forward'">
      <ion-avatar slot="start">
        <ion-badge color="{{boulder.grade.includes('+')?boulder.grade.replace('+', 'm'):boulder.grade}}">
          {{boulder.grade}}</ion-badge>
      </ion-avatar>
      <ion-label>
        <h3>{{boulder.creator.username}}</h3>
        <h2>{{boulder.name}}</h2>
        <span>
          <app-static-star-rating [valoration]="boulder.valoration"></app-static-star-rating>
        </span>
      </ion-label>
    </ion-item>

  </div>

  <!-- Bloques guardados -->
  <div *ngIf="isActive('saved') && bouldersSavedEmpty" class="not-loaded">
    <div>
      <ion-icon name="bookmark"></ion-icon>
      <h3>No has guardado ningún bloque</h3>
      <p>Todos los bloques que has guardado se mostrarán aquí</p>
    </div>
  </div>

  <div *ngIf="isActive('saved') && !bouldersSavedEmpty">
    <ion-accordion-group>
      <div *ngFor="let grade of bouldersSaved">
        <ion-accordion *ngIf="grade.boulders.length > 0" [value]="grade.val">
          <ion-item slot="header">
            <ion-badge [color]="grade.color">{{grade.label}}</ion-badge>
          </ion-item>
          <ion-list slot="content">
            <ion-item *ngFor="let boulder of grade.boulders" [routerLink]="['/boulders/', boulder._id]"
              [routerDirection]="'forward'">
              <ion-avatar slot="start">
                <ion-badge color="{{boulder.grade.includes('+')?boulder.grade.replace('+', 'm'):boulder.grade}}">
                  {{boulder.grade}}</ion-badge>
              </ion-avatar>
              <ion-label>
                <h3>{{boulder.creator.username}}</h3>
                <h2>{{boulder.name}}</h2>
                <p>{{boulder.reps}} {{boulder.reps === 1 ? 'repetición' : 'repeticiones'}}</p>
                <span>
                  <app-static-star-rating [valoration]="boulder.valoration"></app-static-star-rating>
                </span>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-accordion>
      </div>
    </ion-accordion-group>
  </div>

  <!-- Bloques creados -->
  <div *ngIf="isActive('fav') && !bouldersLike" class="not-loaded">
    <div>
      <ion-icon name="heart"></ion-icon>
      <h3>No tienes bloques favoritos</h3>
      <p>Todos los bloques que marques como favoritos se mostrarán aquí</p>
    </div>
  </div>

  <div *ngIf="isActive('fav') && bouldersLike">
    <ion-item *ngFor="let boulder of bouldersLike" [routerLink]="['/boulders/', boulder._id]"
      [routerDirection]="'forward'">
      <ion-avatar slot="start">
        <ion-badge color="{{boulder.grade.includes('+')?boulder.grade.replace('+', 'm'):boulder.grade}}">
          {{boulder.grade}}</ion-badge>
      </ion-avatar>
      <ion-label>
        <h2>{{boulder.name}}</h2>
        <p>{{boulder.reps}} {{boulder.reps === 1 ? 'repetición' : 'repeticiones'}}</p>
        <span>
          <app-static-star-rating [valoration]="boulder.valoration"></app-static-star-rating>
        </span>
      </ion-label>
    </ion-item>
  </div>

</ion-content>

<ion-content *ngIf="!user">
  <div class="cabecera">
    <ion-avatar>
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-avatar>

    <h1>
      <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
    </h1>

    <div class="stats">
      <div>
        <h4>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h4>
      </div>
      <div>
        <h4>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h4>
      </div>
    </div>
  </div>

  <hr>

  <ion-segment [value]="selectedSegment" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="created">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-segment-button>
    <ion-segment-button value="completed">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-segment-button>
    <ion-segment-button value="saved">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-segment-button>
    <ion-segment-button value="fav">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="isActive('created')" class="completed-list">
    <ion-list>
      <ion-item *ngFor="let number of numbers">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h2>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h2>
          <p>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 45%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>