<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="settings-sharp" color="medium"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="cabecera">
    <ion-avatar>
      <ion-img></ion-img>
    </ion-avatar>

    <h1>@usuario</h1>

    <div class="stats">
      <div>
        <h4>2</h4>
        <p>Bloques <br> creados</p>
      </div>
      <div>
        <h4>0</h4>
        <p>Bloques <br> completados</p>
      </div>
    </div>
  </div>
  <hr>
  <ion-segment value="created">
    <ion-segment-button value="created">
      <ion-icon name="grid"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="completed">
      <ion-icon name="checkbox-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="saved">
      <ion-icon name="bookmark-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="fav">
      <ion-icon name="heart-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <ion-item>
    <ion-avatar slot="start">
      <ion-badge color="">
        boulder.grade</ion-badge>
    </ion-avatar>
    <ion-label>
      <h3>@boulder.creator.username</h3>
      <h2>boulder.name</h2>
      <p>231 repeticiones</p>
      <span>
        <app-static-star-rating [valoration]=""></app-static-star-rating>
      </span>
    </ion-label>
  </ion-item>
  <!-- <ion-item *ngFor="let boulder of boulders | bouldersFilter: search" [routerLink]="['/boulders/', boulder._id]"
    [routerDirection]="'forward'">
    <ion-avatar slot="start">
      <ion-badge color="{{boulder.grade.includes('+')?boulder.grade.replace('+', 'm'):boulder.grade}}">
        {{boulder.grade}}</ion-badge>
    </ion-avatar>
    <ion-label>
      <h3>@{{boulder.creator.username}}</h3>
      <h2>{{boulder.name}}</h2>
      <p>231 repeticiones</p>
      <span>
        <app-static-star-rating [valoration]="boulder.valoration"></app-static-star-rating>
      </span>
    </ion-label>
  </ion-item> -->
</ion-content>