<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="boulders/explore"></ion-back-button>
    </ion-buttons>
    <ion-title>{{boulder?.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="boulder?.mine" (click)="updateBoulder()">
        <ion-icon name="create" color="medium"></ion-icon>
      </ion-button>
      <ion-button *ngIf="boulder?.mine && !boulder?.share" (click)="deleteBoulder()">
        <ion-icon name="trash" color="medium"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="ion-color-medium" scrollY=false>
  <!-- BOULDER TAB -->
  <div class="container">
    <img [src]="boulderImage">

    <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 494 660" #svg>
      <polygon *ngFor="let hold of holds" attr.points={{hold.coords}} class="{{hold.color}}"></polygon>
    </svg>
  </div>

  <!-- Bottom menu -->
  <div class="buttons-bar">
    <div class="bar-left">
      <ion-button class="btn-non-image" fill="clear" (click)="like()">

        <ion-icon color="{{boulder?.like ? 'primary' : 'medium'}}" name="{{boulder?.like ? 'heart' : 'heart-outline'}}">
        </ion-icon>
      </ion-button>
    </div>
    <div class="bar-right">
      <ion-button class="btn-non-image" fill="clear" (click)="completeBoulder()">
        <ion-icon color="{{boulder?.completed ? 'primary' : 'medium'}}"
          name="{{boulder?.completed ? 'checkbox' : 'checkbox-outline'}}"></ion-icon>
      </ion-button>
      <ion-button class="btn-non-image" fill="clear" (click)="save()">
        <ion-icon color="{{boulder?.saved ? 'primary' : 'medium'}}"
          name="{{boulder?.saved ? 'bookmark' : 'bookmark-outline'}}"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>