ion-item {
  --background: none;
}

ion-img {
  width: 100%;
  height: 25%;
  object-fit: cover;
  background-color: red;
}

ion-progress-bar {
  height: 1rem;
  border-radius: 0.2rem;
  margin: 0 auto;
  width: 90%;
}

.info {
  div:first-child {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
  }

  h4,
  p {
    font-size: 0.8rem;
  }

  p {
    color: var(--ion-color-medium);
  }

  ion-badge {
    margin: 0.5rem 0;
  }
}

.valoration,
.calification {
  div {
    display: grid;
    grid-template-columns: 25% 65% 10%;
    margin: 0.5rem 0;
    justify-content: space-between;

    p {
      font-size: 0.8rem;

      &:last-child {
        text-align: right;
      }
    }
  }

  ion-label > p {
    margin-bottom: 1rem;
  }
}

canvas {
  width: 90%;
  margin-bottom: 3rem;
}

.buttons-bar {
  display: flex;
  justify-content: space-between;
}

.buttons-bar div {
  margin: 0 !important;
}

ion-button {
  --background: none;
  --padding-end: 0;
  --padding-top: 0;
}
.btn-non-image {
  --color: var(--ion-color-dark);
}

.btn-active-image {
  --color: var(--ion-color-medium-shade);
}

ion-button div {
  display: flex;
  row-gap: 0.5rem;
}

ion-button ion-icon {
  font-size: 1.6rem;
}

.tries p {
  padding: 1rem 0.5rem;
}

.not-loaded {
  height: 100%;
  padding: 3rem;
  display: grid;
  place-content: center;
  text-align: center;
  border: none;

  ion-icon {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  p {
    color: var(--ion-color-medium);
    font-size: 0.8rem;
  }
}
