<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="boulders/explore"></ion-back-button>
    </ion-buttons>
    <ion-title>{{boulder?.name}}</ion-title>
    <ion-buttons *ngIf="boulder.mine" slot="end">
      <ion-button>
        <ion-icon name="create" color="medium"></ion-icon>
      </ion-button>
      <ion-button *ngIf="boulder?.mine && !boulder?.share" (click)="deleteBoulder()">
        <ion-icon name="trash" color="medium"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment [value]="selectedSegment" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="info">Información</ion-segment-button>
      <ion-segment-button value="comments">Comentarios</ion-segment-button>
      <ion-segment-button value="videos">Vídeos</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isActive('info')">
    <ion-item class="info">
      <ion-label>
        <div>
          <h4 [routerDirection]="'forward'" [routerLink]="['/users/', boulder.creator._id]">
            {{boulder.creator.username}}</h4>
          <p>{{formatDate}}</p>
        </div>
        <h1>{{boulder.name}}</h1>
        <div>
          <span>
            <app-static-star-rating [valoration]="boulder.valoration"></app-static-star-rating>
          </span>
          <p>{{totalValorations}} {{totalValorations === 1 ? 'valoración' : 'valoraciones'}}</p>

        </div>
        <div class="buttons-bar">
          <ion-badge color="{{boulder.grade.includes('+')?boulder.grade.replace('+', 'm'):boulder.grade}}">
            {{boulder.grade}}
          </ion-badge>
          <div>
            <ion-button class="btn-non-image" fill="clear" (click)="like()">
              <ion-icon color="{{boulder?.like ? 'primary' : 'medium'}}"
                name="{{boulder?.like ? 'heart' : 'heart-outline'}}"></ion-icon>
            </ion-button>
            <ion-button class="btn-non-image" fill="clear" (click)="completeBoulder()">
              <ion-icon color="{{boulder?.completed ? 'primary' : 'medium'}}"
                name="{{boulder?.completed ? 'checkbox' : 'checkbox-outline'}}"></ion-icon>
            </ion-button>
            <ion-button class="btn-non-image" fill="clear" (click)="save()">
              <ion-icon color="{{boulder?.saved ? 'primary' : 'medium'}}"
                name="{{boulder?.saved ? 'bookmark' : 'bookmark-outline'}}"></ion-icon>
            </ion-button>
          </div>
        </div>



      </ion-label>


    </ion-item>

    <ion-item class="valoration">
      <ion-label>
        <p>Valoración de los usuarios</p>
        <div>
          <p>5 estrellas</p>
          <ion-progress-bar value="{{percent5 / 100}}"></ion-progress-bar>
          <p>{{percent5}}%</p>
        </div>
        <div>
          <p>4 estrellas</p>
          <ion-progress-bar value="{{percent4 / 100}}"></ion-progress-bar>
          <p>{{percent4}}%</p>
        </div>
        <div>
          <p>3 estrellas</p>
          <ion-progress-bar value="{{percent3 / 100}}"></ion-progress-bar>
          <p>{{percent3}}%</p>
        </div>
        <div>
          <p>2 estrellas</p>
          <ion-progress-bar value="{{percent2 / 100}}"></ion-progress-bar>
          <p>{{percent2}}%</p>
        </div>
        <div>
          <p>1 estrella</p>
          <ion-progress-bar value="{{percent1 / 100}}"></ion-progress-bar>
          <p>{{percent1}}%</p>
        </div>
      </ion-label>
    </ion-item>

    <ion-item class="calification">
      <ion-label>
        <p>Calificación de los usuarios</p>
        <div *ngFor="let grade of grades">
          <p>{{grade.value}}</p>
          <ion-progress-bar color="{{grade.value.includes('+')?grade.value.replace('+', 'm'):grade.value}}"
            value="{{grade.percent / 100}}"></ion-progress-bar>
          <p>{{grade.percent}}%</p>
        </div>
      </ion-label>
    </ion-item>

    <ion-label class="tries">
      <p>Número de intentos</p>
    </ion-label>
    <canvas id="triesChart"></canvas>
  </div>

  <div *ngIf="isActive('comments')">
    <ion-list>
      <div *ngFor="let achievement of achievements">
        <ion-item *ngIf="achievement.comment">
          <ion-avatar slot="start">
            <img [src]="'http://localhost:8080/' + achievement.user.avatar" />
          </ion-avatar>
          <ion-label>
            <h4>{{achievement.user.username}}</h4>
            <h2>{{achievement.comment}}</h2>
            <p>{{achievement.date | date:'dd/MM/y' }}</p>
          </ion-label>
        </ion-item>
      </div>
    </ion-list>
  </div>
</ion-content>