.container {
  height: 80%;
  background: var(--ion-color-light);
  border-radius: 0 0 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container div{
  width: 75%;
  text-align: center;
}

.container img {
  height: 100%;
}

.container p {
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}

.container ion-icon{
  color: var(--ion-color-primary);
  font-size: 4rem;
}

image-cropper {
  object-fit: cover;
  height: 100%;
  width: auto;
  --cropper-overlay-color: var(--ion-color-light);
  border-radius: 0 0 1rem 1rem;
}

.buttons-bar {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

ion-button{
  --background: none;
}

.btn-non-image{
  --color: var(--ion-color-dark);
}

.btn-active-image{
  --color: var(--ion-color-medium-shade);
}

ion-button div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  row-gap: 0.5rem;
  font-size: 0.75rem;
}

img {
  width: 100%;
  border-radius: 0 0 1rem 1rem;
}

svg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
}

polygon {
  cursor: pointer;
  fill: transparent;
  stroke-width: 7;
  fill-rule: evenodd;
}

.green{
  stroke: green;
}

.red{
  stroke: red;
}

.blue {
  stroke: blue;
}