<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear</ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-segment value={{createOption}}>
    <ion-segment-button value="wall" (click)="changeValue('wall')">Pared</ion-segment-button>
    <ion-segment-button value="boulder" (click)="changeValue('boulder')">Bloque</ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-content color="ion-color-medium" scrollY=false>
  <!-- WALL TAB -->
  <!-- <img class="img-cover" src="../../../assets/images/flat-vector-image-wall.jpg"
    *ngIf="!wall.image && createOption==='wall'"> -->
  <!-- <img class="wall-cover" [src]="wall.image" *ngIf="wall.image && createOption==='wall'"> -->
  <div class="container" *ngIf="createOption==='wall'">
    <div *ngIf="!wall.image">
      <img class="img-cover" src="../../../assets/images/flat-vector-image-wall.png">
      <p>Toma una foto o <br> selecciona una de la galería</p>
      <ion-icon name="arrow-down-circle"></ion-icon>
    </div>
    <image-cropper *ngIf="wall.image" [imageURL]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="3 / 4"
      containWithinAspectRatio="true" format="jpg" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
  </div>
  <div class="buttons-bar" *ngIf="createOption==='wall'">
    <ion-button [ngClass]="{'btn-non-image': !wall.image, 'btn-active-image': wall.image}" fill="clear" size="large"
      (click)="takePhoto()">
      <ion-icon [size]="!wall.image ? 'large': 'default'" name="camera"></ion-icon>
    </ion-button>
    <ion-button class="btn-non-image" fill="clear" size="large" *ngIf="wall.image" (click)="saveWall()">
      <div>
        <ion-icon size="large" name="checkbox"></ion-icon>
        Guardar
      </div>
    </ion-button>
    <ion-button [ngClass]="{'btn-non-image': !wall.image, 'btn-active-image': wall.image}" fill="clear" size="large"
      (click)="pickFromGallery()">
      <ion-icon [size]="!wall.image ? 'large': 'default'" name="images"></ion-icon>
    </ion-button>
  </div>

  <!-- BOULDER TAB -->
  <div class="container" *ngIf="createOption==='boulder'">
    <div *ngIf="!selectedWall">
      <img class="img-cover" src="../../../assets/images/flat-vector-image-boulder.png">
      <p>Selecciona una pared y <br> crea un bloque</p>
      <ion-icon name="arrow-down-circle"></ion-icon>
    </div>
    <img [src]="'http://localhost:8080/' + selectedWall.image" *ngIf="selectedWall && createOption==='boulder'">
  </div>

  <div class="buttons-bar" *ngIf="createOption==='boulder'">
    <ion-button class="btn-non-image" fill="clear" size="large" (click)="selectWall()" *ngIf="!selectedWall">
      <ion-icon size="large" name="image"></ion-icon>
    </ion-button>
    <ion-button class="btn-non-image" fill="clear" size="large" *ngIf="selectedWall">
      <div>
        <ion-icon size="large" name="create"></ion-icon>
        Crear
      </div>
    </ion-button>
    <ion-button class="btn-non-image" fill="clear" size="large" *ngIf="selectedWall">
      <div>
        <ion-icon size="large" name="refresh"></ion-icon>
        Reiniciar
      </div>
    </ion-button>
  </div>
</ion-content>