<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab()">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label *ngIf="isActive('home')" color="primary">Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="boulders">
      <ion-icon src="../../assets/icon/hold.svg"></ion-icon>
      <ion-label *ngIf="isActive('boulders')">Bloques</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label *ngIf="isActive('profile')">Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>