<ion-content fullscreen scroll-y="false">
  <ion-img src="../../assets/logo/logo.png"></ion-img>
  <div class="container">


    <div class="salutation">
      <h1>¡Hola! </h1>

      <p>Únete a la comunidad de Bloc Arc</p>
      <p>Y descubre posibilidades ilimitadas de entrenamiento</p>
    </div>

  </div>

</ion-content>
<ion-footer>
  <ion-button expand="block" (click)="openRegisterModal()">Registrarse</ion-button>
  <ion-button fill="clear" expand="block" (click)="openLoginModal()">Iniciar sesión</ion-button>
</ion-footer>