ion-content {
  --background: url(../../assets/images/background-inicio.jpg);
  --background-repeat: no-repeat;
  --background-size: cover;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto 0 auto;

  ion-icon {
    width: 3rem;
    margin-right: 0.5rem;
  }

  h1 {
    font-family: RalewayBold !important;
    font-size: 2.2rem;
    margin: 0;
  }
}

.container {
  margin: 0 2rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-img {
  margin: 2rem auto 0 auto;
  width: 65%;
}

h2 {
  font-family: PoppinsBold;
  display: inline-block;
}

ion-footer {
  margin-bottom: 2rem;
}

ion-button {
  margin: 0.5rem 2rem;
}
