<ion-header>
  <ion-toolbar class="background-color">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content scroll-y="false">
  <div class="container">
    <h1>Iniciar sesión</h1>
    <ion-button expand="block" (click)="login()">Continuar con correo</ion-button>
    <p>O continuar con:</p>
    <ion-button (click)="googleLogin()" size="" color="light" expand="block">
      <ion-icon name="logo-google"></ion-icon> Continuar con Google
    </ion-button>
    <ion-button (click)="facebookLogin()" color="light" expand="block">
      <ion-icon name="logo-facebook"></ion-icon>Continuar con Facebook
    </ion-button>
  </div>
</ion-content>
<ion-footer>
  <span item-right>¿No tienes una cuenta? </span>
  <span class="link" (click)="register()"> Regístrate</span>
</ion-footer>