<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-img src="../../assets/logo/logo.png"></ion-img>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="add" color="medium"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="flash" color="medium"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="paper-plane" color="medium"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content>
  <div class="cabecera">
    <circle-progress [percent]="85" [radius]="70" [outerStrokeWidth]="16" [innerStrokeWidth]="16" [space]="-16"
      [outerStrokeColor]="'#f5dc09'" [innerStrokeColor]="'#1e1e1e'" [animation]="true" [animationDuration]="300"
      [responsive]="true" [titleFontSize]="40" [subtitleFontSize]="15" [title]="['10']" [subtitle]="['hoy']"
      [showUnits]="false" [titleColor]="'#f5dc09'">
    </circle-progress>
    <circle-progress [percent]="25" [radius]="70" [outerStrokeWidth]="16" [innerStrokeWidth]="16" [space]="-16"
      [outerStrokeColor]="'#f4f5f8'" [innerStrokeColor]="'#1e1e1e'" [animation]="true" [animationDuration]="300"
      [responsive]="true" [titleFontSize]="40" [subtitleFontSize]="15" [title]="['10']" [subtitle]="['7-13mar']"
      [showUnits]="false" [titleColor]="'#f4f5f8'">
    </circle-progress>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="big-card" [routerLink]="['/goals']" [routerDirection]="'fordward'">
          <ion-label>Tu objetivo semanal</ion-label>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card class="small-card" [routerLink]="['/timer']" [routerDirection]="'fordward'">
          <ion-label>Temporizador</ion-label>
          <div class="content-center">
            <ion-icon color="dark" name="timer"></ion-icon>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="small-card" [routerLink]="['/pull-ups']" [routerDirection]="'fordward'">
          <ion-label>Dominadas</ion-label>
          <div *ngIf="!pullUps" class="content-center">
            <ion-icon color="medium" src="../../assets/icon/pullups.svg"></ion-icon>
          </div>
          <div *ngIf="pullUps">
            <div>

              <ion-label>
                <ion-icon name="repeat" color="primary"></ion-icon>
                <span>{{pullUps.pullUps.reps}} </span> repeticiones
              </ion-label>
            </div>
            <div>

              <ion-label>
                <ion-icon name="trending-up" color="primary"></ion-icon>
                <span>{{pullUps.pullUps.intensity}} </span>% intensidad
              </ion-label>
            </div>
            <div>
              <ion-label>
                <ion-icon name="scale" color="primary"></ion-icon>
                <span>{{pullUps.pullUps.weight}} </span>kg peso total
              </ion-label>
            </div>
            <div>

              <ion-label>
                <ion-icon name="server" color="primary"></ion-icon>
                <span>{{pullUps.pullUps.ballast}} </span>kg lastre
              </ion-label>
            </div>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="big-card">
          <ion-label>Último bloque completado</ion-label>
          <div class="last-boulder" *ngIf="load && lastBoulderAchieved">
            <div class="vertical-align ">

              <div class="image-last-achieved">
                <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 494 660" #svg>
                  <polygon *ngFor="let hold of holds" attr.points={{hold.coords}} class="{{hold.color}}"></polygon>
                </svg>
                <img [src]="lastBoulderImage">
              </div>

            </div>

            <div class="data-last-achieved">
              <h3>{{lastBoulderAchieved.name}}</h3>
              <ion-badge
                color="{{lastBoulderAchieved.grade.includes('+')?lastBoulderAchieved.grade.replace('+', 'm'):lastBoulderAchieved.grade}}">
                {{lastBoulderAchieved.grade}}</ion-badge>
              <p><span>Pared:</span> {{lastBoulderAchieved.wall}}</p>
              <p><span>Completado el:</span> {{dateLastAchieved}}</p>
            </div>
          </div>

          <div class="not-boulder" *ngIf="load && !lastBoulderAchieved">
            <ion-icon name="checkbox"></ion-icon>
            <h3>No has completado ningún bloque</h3>
          </div>

          <div *ngIf="!load" class="last-boulder">
            <div class="vertical-align ">
              <div class="image-last-achieved">
                <ion-skeleton-text animated class="image-skeleton"></ion-skeleton-text>
              </div>
            </div>

            <div class="data-last-achieved">
              <h3>
                <ion-skeleton-text animated style="width: 5rem"></ion-skeleton-text>
              </h3>
              <ion-skeleton-text animated style="width: 2rem"></ion-skeleton-text>
              <p>
                <ion-skeleton-text animated style="width: 6rem"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 6rem"></ion-skeleton-text>
              </p>
            </div>
          </div>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="medium" [routerLink]="['/boulders/add']" [routerDirection]="'fordward'">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>