.cabecera {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 12rem;
}

ion-card {
  padding: 0.4rem 1rem;
  margin: 0;
  ion-label {
    font-size: 0.7rem;
  }
  ion-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    font-size: 1.8rem;
  }

  &.big-card {
    height: 9rem;
  }

  &.small-card {
    height: 10rem;
  }

  .content-center {
    height: 85%;
    display: grid;
    place-content: center;
  }

  div {
    & > ion-icon {
      font-size: 6rem;
    }

    ion-label {
      padding: 0.2rem 0;
      display: flex;
      align-items: center;
      font-size: 0.6rem;
      color: var(--ion-color-dark);
      font-family: PoppinsRegular !important;

      ion-icon {
        margin-right: 0.5rem;
        font-size: 1.2rem;
      }

      span {
        font-size: 1rem;
      }
    }
  }

  .image-last-achieved,
  svg,
  image-skeleton {
    height: 6rem;
    width: 4.5rem;
    position: relative;
  }

  .vertical-align {
    height: 85%;
    display: flex;
    align-items: center;
  }
}

circle-progress {
  height: 80%;
}

.last-boulder {
  display: flex;
  justify-content: start;
  margin-top: 0.5rem;
}

.data-last-achieved {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3,
  p {
    margin: 0;
    color: var(--ion-color-dark);
  }

  h3 {
    font-size: 1.1rem;
    margin-bottom: 0.2rem;
  }

  p {
    font-size: 0.8rem;
  }

  ion-badge {
    width: 20%;
    margin-bottom: 0.2rem;
  }

  span {
    color: var(--ion-color-medium);
    font-size: 0.7rem;
  }
}

svg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
}

polygon {
  cursor: pointer;
  fill: transparent;
  stroke-width: 15;
  fill-rule: evenodd;
}

.green {
  stroke: var(--ion-color-primary);
}

.red {
  stroke: var(--ion-color-primary);
}

.blue {
  stroke: var(--ion-color-primary);
}

img {
  position: absolute;
  top: 0;
  left: 0;
  filter: grayscale(80%);
  -webkit-filter: grayscale(80%);
}

.not-boulder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2.2rem;

  h3 {
    padding-left: 1rem;
    font-size: 1rem;
    margin: 0;
  }
}
