ion-thumbnail {
  width: 3rem;
  height: 4rem;
}

ion-label {
  --color: var(--ion-color-medium);
}

.error-label {
  padding: 0 2px;
}

.not-walls {
  height: 100vh;
  padding: 3rem;
  display: grid;
  place-content: center;
  text-align: center;
  border: none;

  ion-icon {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  p {
    color: var(--ion-color-medium);
    font-size: 0.8rem;
  }
}
