<ion-header translucent>
    <ion-toolbar>
        <ion-title>Selección de pared</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="close()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item *ngFor="let wall of walls">
            <ion-thumbnail slot="start">
                <img [src]="'https://blocarc-services-production.up.railway.app/' + wall.image" />
            </ion-thumbnail>
            <ion-label>
                <h2>{{wall.name}}</h2>
                <p>Section {{wall.section}}</p>
            </ion-label>
            <ion-button fill="clear" slot="end"  size="large" (click)="selectWall(wall)">
                <ion-icon name="arrow-forward-circle"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-list>
</ion-content>